/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #FFF;
    font-size: .80em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #5f5f5f;
    text-decoration: none;
    text-align: left !important;
}

a:hover
{
    color: #5f5f5f;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}



h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}



/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 990px; /*background-color: #fff;*/
    margin: 2px auto 0px auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #f3f1ed;
    width: 100%;
    z-index: 9999;
    padding-bottom: 1px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    /*padding: 0px 12px;     margin: 12px 8px 8px 8px;*/
    min-height: 420px;
    margin-top: 10px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #FFF;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    line-height: normal;
    background-color: #000;
    margin-top: 10px;
    width: 960px;
}

#footerCopyright SPAN
{
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

/* TAB MENU   
----------------------------------------------------------*/



div.hideSkiplink
{
    /*background-color: #000;*/
    width: 100%;
    margin-bottom: 10px;
}

div.menu
{
    padding: 4px 0px;
    text-transform: uppercase;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    /*background-color: #FFF;     border: 1px #4e667d solid;*/
    color: #000;
    display: block;
    line-height: 1.35em;
    padding: 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:active
{
    /*background-color: #FFF;     border: 1px #4e667d solid;*/
    color: #FFF;
    display: block;
    line-height: 1.35em;
    padding: 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}
.catHeading
{
    /*  float:left;    width:400px;  */
}
.catHeading h1
{
    font-size: 24px;
    margin: 5px;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    float: right;
}

.loginDisplay a:link
{
    color: #FF9900;
}

.loginDisplay a:visited
{
    color: #FF9900;
}

.loginDisplay a:hover
{
    color: #FFFFFF;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

#ism .ismTable + .ismPagination, #ism .ismFixtureTable + .ismPagination
{
    background: none repeat scroll 0 0 #DBE9F2;
    margin: 0 0 20px;
    padding: 3px 0;
}

.ism .ismFixtureTable .ismEven
{
    background: none repeat scroll 0 0 #F1F6FA;
}

.ism .ismFixtureTable tbody
{
    border-top: 2px solid #FFFFFF;
}
.ism .ismFixtureTable td
{
    border: 1px solid #DBE9F2;
    color: #444444;
    padding: 0 5px;
    vertical-align: middle;
}


.ism .ismFixtureTable .ismResult:hover
{
    background: none repeat scroll 0 0 #D7E6F1;
    cursor: pointer;
}
.ism .ismFixtureTable .ismFixtureSummary td
{
    border: medium none;
}
.ism .ismFixtureTable .ismSummaryWrapper
{
    display: none;
}
.ism .ismFixtureTable .ismEven
{
    background: none repeat scroll 0 0 #F1F6FA;
}
.ism .ismFixtureTable .ismHomeTeam, .ism .ismFixtureTable .ismAwayTeam
{
    font-weight: bold;
}
.ism .ismFixtureTable .ismHomeTeam
{
    text-align: right;
}

.homeLeftContent
{
    float: left;
    width: 200px;
}
.homeRightContent
{
    float: left;
    width: 700px;
    background-color: #efefef;
}

#pageHeader
{
    background: #000000;
    min-width: 980px;
    height: 100px;
    border-bottom: 5px solid #FF9900;
}

.pageContainer
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#HunterLogo IMG
{
    margin-top: 10px;
    left: 0;
    text-decoration: none;
    float: left;
}

.HunterLogoText
{
    float: left;
    color: #ffffff;
    font-size: 26px;
    margin-top: 30px;
    margin-left: 10px;
}

#subPageHeader
{
   background-color:#EBE9E4;  
     
}
.group9hdg 
{
   padding: 10px;
   font-size: 14px; 
   font-style:italic;
   color:#0A115A;
   font-style: italic;
 }

div.footer-links
{
    clear: both;
    overflow: auto;
    padding: 15px 0 30px;
    border-bottom: 5px solid #FF9900;
    margin-bottom: 5px;
}
div.footer-links A
{
    color: #d5d5d5;
}
div.footer-links ul
{
    float: left;
    width: 188px;
}
li
{
    list-style: none;
}
div.footer-links ul li h2
{
    color: #fff;
    font-family: Georgia;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.contentContainer
{
    background-color: #EBE9E4;
    padding: 10px;
}

.contentContainer Input, .contentContainer textarea
{
    width: 90%;
}

.block
{
    background-color: #FFF;
    width: 300px;
    height: 330px;
    border: 1px solid #D7D6D3;
    float: left;
    margin-bottom: 10px;
}
.blockPad
{
    margin: 20px;
}


.blockPad.center
{
    text-align: center;
}

.block h2
{
    font: 24px 'LeagueGothicRegular' , Verdana, sans-serif;
    text-transform: uppercase;
    width: 100%;
}

.block h3
{
    font: 26px 'LeagueGothicRegular' , Verdana, sans-serif;
    text-transform: uppercase;
    width: 100%;
}

.block.mid
{
    height: 330px;
    width: 600px;
}

.block.full
{
    width: 100%;
    height: 50px;
}

.block.title
{
    width: 100%;
    height: 70px;
}

.block.imgHome
{
    width: 100%;
    height: 280px;
}

.block.imgHome > Img
{
    margin-left: 10px;
    margin-top: 10px;
}

.right
{
    float: right;
}

.ProductListHead
{
    color: #333; /*font-weight: bold;*/
    margin-left: 2px;
}

div.content
{
    float: left !important;
    background-color: #fff;
    width: 540px !important;
    margin-right: 10px; /*border: 1px solid #dedbd2;*/
}

div.controls
{
    visibility: hidden;
}


#thumbs
{
    float: left;
    width: 350px;
    margin-bottom: 1px;
}

#slides
{
    margin-top: 10px;
}

div.slideshow img
{
    border: none !important;
}

.prodDesc
{
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 380px;
    float: left;
    background-color: #fff;
    border: 1px solid #dedbd2;
}

.prodTitle
{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #ff9900;
    margin-bottom: 10px;
}

.tdProdDesc
{
    /*border: 1px solid #dedbd2;*/
    background-color: #fff;
}

.tdProdImg
{
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}

div.slideshow a.advance-link
{
    text-align: center !important;
}

#prodSideLinks
{
    margin-top: 10px;
    background-color: #f3f1ed; /*border: 1px solid #dedbd2;*/
    width: 140px;
    float: left;
    font-size: 11px;
}

#prodSideLinks UL
{
    margin-left: 0px;
    padding-left: 0px;
}

#prodSideLinks UL > li
{
    margin-bottom: 6px;
}
#divMens, #divWomens, #divAccessories, #divKids
{
    margin-top: 10px;
    background-color: #fff;
    float: right;
}

#MainContent_SiteMap1
{
    color: #5F5F5F;
}
#breadcrumbBar
{
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 8px;
}

.pagination
{
    float: right;
}
.previousNextLink, .previousNextLink
{
    /*border: 1px solid #cfcfcf;*/
}
.numericLink
{
}

#kidsSizeTable
{
    font-size: 12px;
    font-weight: bold;
}



